### Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
SIGNING_SECRET=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/registration

### Payload
# SQLite
#DATABASE_URI=file:./payload-clerk-example.db
# PostgreSQL
#DATABASE_URI=postgres://postgres:password@127.0.0.1:5432/postgres
PAYLOAD_SECRET=

### Testing
E2E_CLERK_SUPER_ADMIN_USER_EMAIL=super-admin-1+clerk_test@example.com
E2E_CLERK_SUPER_ADMIN_USER_PASSWORD=
E2E_CLERK_SUPER_ADMIN_USER_PHONE=+19735550101

E2E_CLERK_ADMIN_USER_EMAIL=admin-1+clerk_test@example.com
E2E_CLERK_ADMIN_USER_PASSWORD=
E2E_CLERK_ADMIN_USER_PHONE=+19735550102

E2E_CLERK_EDITOR_USER_EMAIL=editor-1+clerk_test@example.com
E2E_CLERK_EDITOR_USER_PASSWORD=
E2E_CLERK_EDITOR_USER_PHONE=+19735550103

E2E_CLERK_APP_USER_EMAIL=user-1+clerk_test@example.com
E2E_CLERK_APP_USER_PASSWORD=
E2E_CLERK_APP_USER_PHONE=+19735550104
