### Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/registration

### Payload
# SQLite
#DATABASE_URI=file:./payload-clerk-example.db
# PostgreSQL
#DATABASE_URI=postgres://postgres:password@127.0.0.1:5432/postgres
PAYLOAD_SECRET=
